<div class="content">
  <app-logo></app-logo>
  <h1>freeCodeCamp Contributor Leaderboard</h1>
  <p>
    Welcome to the contributor leaderboard. This page is intended to serve as a
    way to aggregate contributions across all of our platforms.
  </p>
  <p>
    Points are weighted based on the nature of the contribution. However, we
    value all contributions regardless of complexity.
  </p>
  <p>
    This is merely intended as a fun way to track and recognise our volunteers.
  </p>
  <a routerLink="/leaderboard">View the Leaderboard</a>
</div>
